@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&family=Satisfy&display=swap');

h1{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

h2, h3, h4, h5, h5, p {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}


code {
  font-family: 'Comfortaa', 'Poppins', sans-serif;
}

